
/* ======================================================================================================
Body
====================================================================================================== */
pre{
    white-space: pre-wrap;
}
h1 span.sub{
    font-size:50%;
}
h2 span.sub{
    font-size:60%;
}

/* ======================================================================================================
Forms
====================================================================================================== */
form div.tt_formfield div.formInput{
    display: inline-block;
}
form div.tt_formfield > label + div.formdiv {
    display:inline-block;
}

/* ======================================================================================================
Links
====================================================================================================== */
a.button{
    cursor:pointer;
}

/* ======================================================================================================
Interaction
====================================================================================================== */
.tt_hide
{
    display: none;
}
