/* ======================================================================================================
Debug
====================================================================================================== */
body.debug{
    margin-bottom:50px;
}
div#tt_debug_info{
    position:fixed;
    bottom:10px;
    margin: 0;
    color:black;
    z-index: 99;
}
div#tt_debug_info div.tt_debug_comp{
    display:inline-block;
    vertical-align: bottom;
    margin-right:10px;
}
div#tt_debug_info div.tt_debug_comp div.tt_debug_comp_body{
    max-height: 200px;
    overflow: scroll;
    background: white;
    padding:10px;
    border:2px dotted black;
}
div#tt_debug_info div.tt_debug_comp div.tt_debug_comp_head{
    cursor:pointer;
    background: #dadada;
    border-radius:10px;
    padding:5px 10px;
    display:inline-block;
}
div#tt_debug_info ul{
    padding:0 10px;
    margin:0;
}
div#tt_debug_info div.tt_ajax_debug{
    padding-left:20px;
    margin-top:-5px;
}
div#tt_debug_info div.tt_ajax_debug h3{
    margin:5px 0 0 -20px;
}
div.tt_debug_comp_body pre{
    margin:0;
}
pre.debug_queries > ul > li{
    white-space: normal;
}
pre.debug_queries > ul > li:hover{
    color:darkblue;
    white-space: pre-wrap;
}
