/* ======================================================================================================
Body
====================================================================================================== */
body{
    margin:0 0 10px 0;
}
div.tt_inner_body,
div.tt_messages2,
h1.tt_title
{
    max-width:800px;
    margin:0 auto;
    padding:0 10px;
}
body.contentWide div.tt_inner_body,
body.contentWide div.tt_messages2,
body.contentWide h1.tt_title
{
    max-width:inherit;
}
h1.tt_title
{
    margin-bottom:20px;
}
div.tt_inner_body > h1:first-child{
    margin-top:0;
}

body.debug div.tt_inner_body{
    box-shadow: 12px 0 10px -12px gray;
}

/* ======================================================================================================
Forms
====================================================================================================== */
form div.tt_formfield > label{
    display:inline-block;
    min-width:100px;
    vertical-align: top;
    padding-top:2px;
    overflow:hidden;
    text-overflow: ellipsis;
}
form div.tt_formfield div.formInput{
    vertical-align: bottom;
}
form div.tt_formfield div.formInput textarea{
    width:200px;
    height:100px;
}
form div.tt_formfield > label + input[type='text'],
form div.tt_formfield > label + div.formdiv
{
    vertical-align: bottom;
    width:200px;
}
form div.tt_formfield > label + select{
    width:208px;
}
form div.tt_formfield > label + div.formdiv {
    padding:2px;
}
form div.tt_formfield > label + input[type='checkbox']{
    vertical-align: bottom;
}

/* EditForm ------------------------------------------------------------------------------------ */
form.tt_editmodel div.tt_formfield > label + input[type='text'],
form.tt_editmodel div.tt_formfield div.formInput textarea,
form.tt_editmodel div.tt_formfield > label + div.formdiv
{
    width:500px;
}
form.tt_editmodel div.tt_formfield > label + select{
    width:508px;
}
form div.tt_formfield > label{
    width:200px;
}
form fieldset div.tt_formfield > label{
    width:184px;
}

/* ======================================================================================================
Tables
====================================================================================================== */
table{
    border-collapse: collapse;
}
table tr th,
table tr td{
    padding:5px;
    border-bottom:1px dashed gray;
    vertical-align: top;
}
table tr:first-child td
{
    border-top:1px dashed gray;
}
table tr th{
    text-align: left;
    vertical-align: bottom;
}
table tr:hover td{
    background: #e8ebff;
}

/* ======================================================================================================
Navigation
====================================================================================================== */
/*First Level:*/
nav.tt_main_nav > div.tt_navList > ul{
    height:30px;
    margin:0 20px 10px 20px;
    list-style:none;
    padding:0;
}
nav.tt_main_nav > div.tt_navList > ul > li{
    display: inline-block;
    vertical-align: top;
}
nav.tt_main_nav > div.tt_navList > ul > li#core_{
    float:right;
    direction: rtl;
}
nav.tt_main_nav > div.tt_navList > ul > li > div.tt_navEntry{
    background: #10227c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position:relative;
    z-index: 98;
}
/*Next levels:*/
nav.tt_main_nav ul div.tt_navList{
    width:0;
}
nav.tt_main_nav ul ul{
    display:none;
    list-style:none;
    padding:0;
    position:relative;
    z-index: 97;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    top:-20px;
    left:-10px;
    border: 10px solid transparent;
}
nav.tt_main_nav > div.tt_navList > ul > li#core_ ul{
    left:10px;
}
nav.tt_main_nav ul ul div.tt_navEntry,
nav.tt_main_nav ul ul a{
    background: #5b6ec7;
}
nav.tt_main_nav ul li:hover ul{
    display:inline-block;
}
/*All levels:*/
nav.tt_main_nav div.tt_navEntry,
nav.tt_main_nav a{
    color:white;
    white-space: nowrap;
    display:block;
    line-height:20px;
    padding:0 10px;
}
nav.tt_main_nav a:hover{
    text-decoration: none;
    color:yellow;
}

nav.tt_main_nav > div.tt_navList > ul > li > div.tt_navEntry,
nav.tt_main_nav li:first-child a{
    padding-top:5px;
}
nav.tt_main_nav li:first-child a{
    border-top-right-radius: 10px;
    padding-top:10px;
}
nav.tt_main_nav > div.tt_navList > ul > li#core_ ul li a{
    border-top-right-radius: 0;
    padding-top:0;
}
nav.tt_main_nav > div.tt_navList > ul > li#core_ ul li:first-child a{
    padding-top:10px;
    border-top-left-radius: 10px;
}
nav.tt_main_nav > div.tt_navList > ul > li > div.tt_navEntry,
nav.tt_main_nav ul ul li:last-child a{
    padding-bottom:5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ======================================================================================================
Messages
====================================================================================================== */
b.warn{
    color:red;
}

div.tt_msg{
    color:black;
    background: #a7c2ff;
    border-radius: 10px;
    margin-bottom:10px;
    padding:5px 10px 5px 35px;
}

span.msg2icon{
    position:relative;
    left:-25px;
    display: inline-block;
    width:0;
    height:0;
    margin-right:-4px;
}

div.tt_msg pre.msgOnlyPre{
    margin:-16px 0 0 0;
    min-height:17px;
}

div.tt_msg.tt_msg2type_confirm{
    background: #adff8d;
}
div.tt_msg.tt_msg2type_warning{
    background: #fff08d;
}
div.tt_msg.tt_msg2type_error{
    background: #ff8d8d;
}
span.rightOverflowVisible{
    display: inline-block;
    width:0;
    white-space: nowrap;
}

/* ======================================================================================================
Links
====================================================================================================== */
a,
div.tt_msg a{
    color:blue;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
a.button:hover{
    text-decoration: none;
}
a.checkAction{
    display: inline-block;
    vertical-align: bottom;
    width:12px;
    overflow: hidden;
}
a.checkAction:before{
    content: '☐ ';
}
a.checkAction:hover:before{
    content: '🗹 ';
}

/* ======================================================================================================
Debug
====================================================================================================== */
div#tt_debug_info{
    margin: 0 0 0 10px;
}
div#tt_debug_info div.tt_debug_comp_head b.warn{
    color:#d51818;
}
div#tt_debug_info div.tt_debug_comp.dbdebug span.db_sqlite:after{
    content:' 🪶';
}
div#tt_debug_info div.tt_debug_comp.dbdebug span.db_mysql:after{
    content:' 🐬';
}
div#tt_debug_info div.tt_debug_comp.dbdebug span.db_postgres:after{
    content:' 🐘';
}
div#tt_debug_info div.tt_debug_comp.dbdebug span.db_mariadb:after{
    content:' 🦭';
}
