/* ======================================================================================================
Dark mode
====================================================================================================== */
body{
    background: black;
    color: white;
}
form div.tt_formfield > label + input[type='text'],
form div.tt_formfield > label + select,
form div.tt_formfield div.formInput,
form div.tt_formfield div.formInput textarea,
form div.tt_formfield > label + div.formdiv
{
    color:white;
    background: black;
}
a{
    color: #d1d1ff;
}
table tr:hover td{
    background: #000750;
}
