form div.tt_formfield > label{
    width:300px;
}
form div.tt_formfield div.formInput textarea,
form div.tt_formfield > label + input[type='text'],
form div.tt_formfield > label + div.formdiv{
    width:310px;
}
form div.tt_formfield > label + select{
    width:318px;
}



form.tt_editmodel div.tt_formfield > label + input[type='text'],
form.tt_editmodel div.tt_formfield div.formInput textarea,
form.tt_editmodel div.tt_formfield > label + div.formdiv
{
    width:310px;
}
form.tt_editmodel div.tt_formfield > label + select{
    width:318px;
}
form div.tt_formfield > label{
    width:300px;
}

form.tt_editmodel div.formdiv {
    overflow-x: scroll;
}
